html, body {
    background-image: url("https://vignette.wikia.nocookie.net/starwars/images/c/cc/Star-wars-logo-new-tall.jpg/revision/latest?cb=20190313021755");
    background-size: cover;
    color: white;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;

}

.answer {
    margin: 2px;
}

.card {
    border: none;
    background-color: rgba(20, 9, 9, 0.4);
    
}

.row {
    justify-content: center;
    text-align: center;
}

.quiz-head {
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    color: black;
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top, centered */
    padding: 20px;
    border: 1px  solid #888;
    width: 80%;
}

._close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

#question-card {
    padding: 10px;
}

#info-card {
    padding: 10px;
    display: none;
}