*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-image: url("http://www.desktopimages.org/pictures/2012/0221/1/orig_507607.jpg");
    background-size: cover;
    color: rgba(255,255,255,1);
}



main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;

}

.answer {
    margin: 2px;
}

.card {
    border: none;
    background: rgba(20, 9, 9, 0.4);
    
}

.qa-text {
    color: rgba(255,255,255,1)!important;
}

.quiz-head {
    display: inline-block;
}

.row {
    justify-content: center;
    text-align: center;
}

/* modal stuff */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    color: black;
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top, centered */
    padding: 20px;
    border: 1px  solid #888;
    width: 80%;
}

._close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.navbar {
    background: none;
}

/* end modal stuff */

#question-card {
    padding: 10px;
}

#info-card {
    padding: 10px;
    display: none;
}